/* lightning.css */

div.slide h2 {
  float: none;
  padding-left: 0;
  padding-right: 20pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 60pt;
  margin-bottom: 0.5em;
  display: block; 
  line-height: 1.2em;
  background: transparent;
}

div.sect2:nth-child(1) {
    float: left;
    width: 49%;
    overflow: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0;
}

div.sect2:nth-child(2) {
    float: right;
    width: 49%;
    overflow: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0;
}
