/* Zilogic Theme */

div.presentationinfo {
    font-family: 'Montserrat-Bold';
    color: #f44336;
    width: 50%;
    margin: 32% 0 0 8%;
    line-height: 10px;
}


div.presentationinfo h1 {
    font-size: 12px;
}

.help {
    display: none;
    visibility: hidden;
}

h2, h3 {
    color: #666;
}

h1 {
    color: #de411a;
}

#author {
    font-family: 'Montserrat-SemiBold';
    color: #f44336;
    position: left;
    font-size: 8px;
}

#email tt {
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    color: #f44336;
    position: left;
    font-size: 8px;
}

div.tableblock > table {
  border: 2px solid #3f51b5;
}

thead, p.table.header {
  color: #3f51b5;
}

